


@keyframes bannerAnimetion {
    0% {
      transform: translateX(50px);
    }
    50% {
      transform: translateX(25px);
    }
    100% {
      transform: translateX(0px);
    }
  }
  .anime{
      animation: bannerAnimetion 3s linear infinite alternate;
  }
@keyframes bannerAnimetion2 {
    0% {
      transform: translateY(50px);
    }
    50% {
      transform: translateY(25px);
    }
    100% {
      transform: translateY(0px);
    }
  }
.anime2{
    
    animation: bannerAnimetion2 3s linear infinite alternate;
}